<% unless content_for?(:nav_bar) %>
<nav class="navbar navbar-expand-lg nav_bar_m">
  <% if content_for?(:page_name) %>
    <%= link_to yield(:back_path), class: " text-white" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  <% end %>
  
  <% if content_for?(:page_name) %>
    <div class="d-flex justify-content-center flex-grow-1">
      <span class="navbar-text text-white proxima-semi-bold"><%= yield(:page_name) %></span>
    </div>
  <% end %>
  
  <% if content_for?(:nav_button) %>
    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item proxima-semi-bold">
        <%= yield(:nav_button) %> 
      </li>
    </ul>
  <% end %>
</nav>
<% end %>
